.red {
	color: red;
}

.lightbrown {
	color: #deb887;
}

.darkorange {
	color: #d2691e;
}

.chocolate {
	color: #d2691e;
	background-color: #c1cce3;
	font-size: 20px;
}

.darkolivegreen {
	color: #556b2f;
}

.lavendar {
	color: #FFF0F5;
}

.lightblue {
	color:#448ecf;
}

.listsize {
	font-size: 18px;
}

.textborder {
	border:orange; 
	border-width:2px; 
	border-style:solid;
	padding: 5px;
}

.test {
	background-color:#ffc107;
	border-color:#ffc107;
	color:#212529;
}

.jgi-purple {
	background-color: #666d99;
}
.jgi-blue1 {
	background-color: #49748a;
}
.jgi-blue2 {
	background-color: #648caa;
}
.jgi-blue3 {
	background-color: #73aed4;
}
.jgi-green1 {
	background-color: #7f833d;
}
.jgi-green2 {
	background-color: #98be3d;
}
.jgi-green3 {
	background-color: #bfbc00;
}
.jgi-orange {
	background-color: #d3691c;
}
.jgi-yellow {
	background-color: #fdbb4d;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.box {
    box-sizing: content-box;
    height: 10px;
}

.wy-table-responsive table td {
    white-space: normal;
}
